{% extends 'index.html' %}
{% block title %} Departments | eLMS {% endblock title %}
{% block profile %}
{% if faculty  %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block departments %}
{% url 'departments' %}
{% endblock %}
{% block content %}
<div class="container">
   <!-- navigation links -->
      <div class="container shadow-sm" style="display: flex; justify-content: center; font-weight: 700">

         <p class="breadcrumb p-3 active" aria-current="page" style="font-size: 25px; margin: 0px">All Departments</p>
      </div>
   <!-- navigation links end -->
      {% if deps %}
      <table class="table align-middle mb-0 bg-white text-center my-3 shadow rounded">
         <thead class="bg-light">
            <tr>
               <th>Name</th>
               <th>Dept. ID</th>
               <th>No. of Students</th>
               <th>Total Faculty</th>
               <th>Total Courses</th>
            </tr>
         </thead>
         <tbody>
            {% for dep in deps%}
            <tr>
               <td>
               {{dep.name}}
               </td>
               <td>
                  {{dep.department_id}}
               </td>
               <td>
                  {{dep.student_count}}
               </td>
               <td>
                  {{dep.faculty_count}}
               </td>
               <td>
                  {{dep.course_count}}
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% else %}
   <div class="text-center h4 text-secondary">No Departments to show</div>
   {% endif %}
</div>
{% endblock  %}