{% extends 'index.html' %}
{% block title %}{{student.name}} | eLMS{% endblock title %}
{% block profile %}
{% url 'profile' student.student_id %}
{% endblock %}
{% block user %}
{{student.name}}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block departments %}
{% url 'departments' %}
{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
   {{ message }}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<!--navigation links-->
 <div class="container shadow-sm" style="display: flex; justify-content: center;">

         <p class="breadcrumb p-3 active" aria-current="page" style="font-size: 25px; margin: 0px; font-weight: 700">Profile</p>
      </div>
<div class="container shadow">
   <div class="row">
      <div class="col-12">
         <div class="fw-bold fs-5 my-3 text-muted d-flex justify-content-center">
            <p>Student info</p>
         </div>
      </div>
   </div>
   <div class="d-flex flex-column align-items-center">
      <div class="my-3">
         <img src="/media/{{student.photo}}" alt="image" class="rounded-circle" style="height: 10rem ; width:10rem">
      </div>
      <div class="my-3">
         <h5>Name : {{student.name}}</h5>
         <h5>ID : <span class="mx-3 px-1"></span>{{student.student_id}}</h5>
         <h5>Dept :<span class="mx-2"> {{student.department}}</h5>
      </div>
   </div>
   <div class="d-flex justify-content-center">
      <a href="{% url 'changePasswordPrompt'  %}" class="btn btn-sm btn-primary border my-2 mx-1">
      Change Password
      </a>
      <a href="{% url 'changePhotoPrompt'  %}" class="btn btn-sm btn-primary border my-2 mx-1">
      Change Profile Picture      
      </a>
   </div>
</div>
<script>
   setTimeout(function() {
      $('.alert').alert('close');
   }, 3000);
</script>
{% endblock %}